.dot1 {
    height: 100px;
    width: 100px;
    background-color: #D7727C;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    
  }
  
  .dot2 {
    height: 100px;
    width: 100px;
    background-color: #DBCAB7;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    
  }
  
  
  .dot3 {
    height: 100px;
    width: 100px;
    background-color: #BDA06A;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    
  }
  
  .dot4 {
    height: 100px;
    width: 100px;
    background-color: #B8C5D9;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    
  }
  
  .dot5 {
    height: 100px;
    width: 100px;
    background-color: #FBCE7B;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    
  }
  
  